extends layout

block extra-head
  script(type="text/javascript", src="//js.stripe.com/v2/")
  script(type='text/javascript')
    Stripe.setPublishableKey('#{stripe_js}')
block content
  #small-business.modal.fade
    .modal-dialog.modal-lg
      .modal-content.pull-left
        .modal-header.bg-blue
          button.white.close(data-dismiss="modal",aria-hidden="true")&times;
          h4.white Small and Emerging Businesses
        .modal-body.col-sm-12.pull-left
          .row
            .col-sm-12
              .col-sm-8.col-sm-offset-2
                strong We'd love to know if you run a small, for-profit business... We partner with <a href='http://gopropeller.org/' target='_blank'>Propeller</a>, an intermediary for <a href='http://www.louisianaeconomicdevelopment.com/' target='_blank'>Louisiana Economic Development</a>, to provide these classes. Learn more about <a href='http://gopropeller.org/grants/growth-opportunity-for-small-and-emerging-businesses-in-new-orleans/' target='_blank'>opportunities to help you grow your business</a> or contact <a href='mailto:jstewart@Gopropeller.org?subject=Growth opportunites with Propeller and LED' target='_blank'>Julia Stewart at Propeller</a> directly with questions.
  #kit-check.modal.fade
    .modal-dialog.modal-lg
      .modal-content.pull-left
        .modal-header.bg-blue
          button.white.close(data-dismiss="modal",aria-hidden="true")&times;
          h4.white Kit Check!
        .modal-body.col-sm-12.pull-left
          .row
            .col-sm-12
              .col-sm-8.col-sm-offset-2
                strong Just so you know... you will need all the tools that are sold in the everything kit.
                br
                br
                strong If you don't have an <a href='https://www.sparkfun.com/products/12640' target='_blank'>Arduino with USB</a>, a <a href='http://www.amazon.com/DT830B-Digital-Voltmeter-Ammeter-Multimeter/dp/B005KGCI0Y' target='_blank'>multimeter</a>, a <a href='https://www.sparkfun.com/products/12615' target='_blank'>breadboard</a>, and <a href='https://www.sparkfun.com/products/8696' target='_blank'>22 AWG wire strippers</a> you should get the everything kit.
                br
                br
                strong If you have some of these things and not others, feel free to purchase them yourself.
  #classes.row.col-md-12
    img(src='/images/classes.png')
  #skills
    .container
      #intro-to-programming.col-sm-12
        br
        br
        .row
          .col-sm-12
            .row
              a(href="/classes#intro-to-programming")
                .col-sm-12.text-center
                  h2.blue.text-center intro to programming
                  .col-sm-10.col-sm-offset-1
                    hr.dotted.green
            .row
              .col-sm-8.col-sm-offset-2
                .visible-xs
                  br
                  br
                p Want to learn how to code? Want to make interactive installations? Already slinging for loops around, but need refinement or help with a new project? Take this class! It will be taught in <a href="http://processing.org" target="_blank">Processing</a> class.
                p This is a 3 month class with a rather open format. If you want to come some times and not others, feel free to. However, the objective is after taking 12 classes you will be profecient at writing code. Meaning that you will be able to <strong>debug your problems, search the web for help, and implement the answers you find in your code</strong>. Once you can do that, the door is wide open for what you can accomplish with code.
                p.blue.strong The class meets every Thursday from 5:30 - 6:30pm at <a href='http://gopropeller.org/'>Propeller</a>, <a href='https://maps.google.com/maps?q=Propeller+4035+Washington+Ave+New+Orleans+70125' target='_blank')>4035 Washington Ave</a>.
                br
                h4.strong.text-center Class starts March 6th.
                br
                .row
                  .col-sm-12.text-left
                    a(data-toggle='collapse', data-target='#processing-about') What is Processing?
                .col-sm-12
                  br
                #processing-about.collapse.col-sm-12
                  p Processing is a programming language, development environment, and online community. Since 2001, Processing has promoted software literacy within the visual arts and visual literacy within technology. <strong>Initially created to serve as a software sketchbook and to teach computer programming fundamentals within a visual context</strong>, Processing evolved into a development tool for professionals. Today, there are tens of thousands of students, artists, designers, researchers, and hobbyists who use Processing for learning, prototyping, and production (quoted from <a href='http://processing.org' target="_blank">processing.org</a>).
                  br
                  br
              .col-sm-6.col-sm-offset-3
                iframe(src="//player.vimeo.com/video/80274630?title=0&amp;byline=0&amp;portrait=0", width="100%", height="250px", frameborder="0", webkitallowfullscreen mozallowfullscreen allowfullscreen)
                a(href="http://vimeo.com/80274630") 1. HELLO</a> from <a href="http://vimeo.com/shiffman">shiffman</a> on <a href="https://vimeo.com">Vimeo</a>.</p>.
  .col-sm-12.bg-blue.ptb40
    .container
      .row
        .col-sm-4.col-sm-offset-2.col-xs-offset-2
          h3.white cost
          .col-sm-12.white
            p $10 per class
            p $40 for 4 classes
            p $100 for 12 classes
        .col-sm-5.col-sm-offset-1.col-xs-offset-2
          h3.white requirements
          .row
            .col-sm-7(data-toggle="tooltip", data-placement="top", data-original-title="Mac, PC, or Linux", title='')
              .col-sm-8.white
                br
                p.pull-left.inline laptop
              .col-sm-4
                img.inline.hidden-xs.pull-right(height=60, src='/images/laptop.svg')
                img.inline.visible-xs.m0auto(height=60, src='/images/laptop.svg')
          .row
            br
          .row
            .col-sm-7.white(data-toggle="tooltip", data-placement="top", data-original-title="Download and install Processing", title='')
              a.white(href='http://www.processing.org/download/', target='_blank') 
                .col-sm-8.white
                  br
                  p.pull-left.inline Processing
                .col-sm-4.white
                  img.hidden-xs.inline.pull-right(height=60, src='/images/download.svg')
                  img.visible-xs.inline.m0auto(height=60, src='/images/download.svg')
      .row
        .col-sm-12
          br
          br
      .row
        .col-sm-12
          a(href='#enroll', data-class='intro-programming')
            h5.grey.small-caps.strong.text-center
              span.glyphicon.glyphicon-chevron-right
              span(style='font-size:45px') &nbsp; enroll me please &nbsp;
              span.glyphicon.glyphicon-chevron-left
  #skills
    .container
      #intro-to-circuits.col-sm-12
        br
        br
        .row
          .col-sm-12
            .row
              a(href="/classes#intro-to-circuits")
                .col-sm-12.text-center
                  h2.gray.text-center intro to circuits
                  .col-sm-10.col-sm-offset-1
                    hr.dotted.green
            .row
              .col-sm-8.col-sm-offset-2.text-left
                .visible-xs
                  br
                  br
                p This course will take you from not knowing what a volt is to building circuits to control lights, sounds, and movement (without a microcontroller). We'll teach you about different electronic components and you'll <strong>build circuits</strong> that fit them together.
                p We'll teach you how to examine what your circuits are doing with a multimeter and a basic Arduino-based oscilloscope. And we'll teach you what those words mean. Plus, you get to keep all the tools and components!
                p Do you know what an operational amplifier is? No? You will after <strong>twelve two-hour courses taught once a week</strong>. Resistors! Diodes! Logic gates! Datasheets! We'll give you the foundation to tackle cool new projects and to continue on to bigger and better things.
                br
          .row
            .col-sm-12
              br
          .row
            .col-sm-8.col-sm-offset-2
              .col-sm-4
                img.img-thumbnail.no-border(src='/images/multimeter.svg')
                .visible-xs
                  br
              .col-sm-4
                img.img-thumbnail.no-border(src='/images/capacitor.svg')
                .visible-xs
                  br
              .col-sm-4
                img.img-thumbnail.no-border(src='/images/op-amp.svg')
          .row
            .col-sm-12
              br
              br
          .row
            .col-sm-8.col-sm-offset-2
              p.blue.strong.text-center The class meets every Sunday from 1 - 3pm at <a href='http://gopropeller.org/'>Propeller</a>, <a href='https://maps.google.com/maps?q=Propeller+4035+Washington+Ave+New+Orleans+70125' target='_blank')>4035 Washington Ave</a>.
              h4.strong.text-center Class starts March 16th.

  .col-sm-12.bg-gray.ptb40
    .container
      .row
        .col-sm-4.col-sm-offset-2.col-xs-offset-2
          h3.white cost
          .col-sm-12.white
            p $20 per class &nbsp;
              span.italic.tiny (only first class)
            p $80 for 4 classes &nbsp;
              span.italic.tiny (only first month)
            p $200 for 12 classes
        .col-sm-5.col-sm-offset-1.col-xs-offset-2
          h3.white requirements
          .row
            .col-sm-7(data-toggle="tooltip", data-placement="top", data-original-title="Mac, PC, or Linux", title='')
              .col-sm-8.white
                br
                p.pull-left.inline laptop
              .col-sm-4
                img.inline.hidden-xs.pull-right(height=60, src='/images/laptop.svg')
                img.inline.visible-xs.m0auto(height=60, src='/images/laptop.svg')
          .row
            br
          .row
            .col-sm-8.white
                .col-sm-12.white
                  br
                  .row
                    .col-sm-12.white
                      p.pull-left.inline
                        | Circuits Kit &nbsp;&nbsp;
                        span.italic.tiny (choose one)
                  a(data-toggle="popover", data-placement="top",data-trigger='hover', data-content="Comes with an Arduino, a multimeter, a breadboard, and wire strippers. If you don't have any of these things, get this. You won't find a better price... We checked. Also has all the components you'll need for this class.")
                    .row
                      .col-sm-4.white
                        p
                          span.glyphicon.glyphicon-info-sign
                          | &nbsp;$#{everything_kit}
                      .col-sm-8.white
                        p Everything Kit
                  a(data-toggle="popover", data-placement="top", data-trigger='hover', data-content="Does NOT come with an Arduino with USB, a multimeter, a breadboard, and wire strippers. You WILL need all these things, so please bring them, buy them yourself, or get the Everything Kit. This only has the components you need for this class.")
                    .row
                      .col-sm-4.white
                        p
                          span.glyphicon.glyphicon-info-sign
                          | &nbsp;$#{components_kit}
                      .col-sm-8.white
                        p Componets Only Kit
      .row
        .col-sm-12
          br
          br
      .row
        .col-sm-12
          a(href='#enroll', data-class='intro-circuits')
            h5.blue.small-caps.strong.text-center
              span.glyphicon.glyphicon-chevron-right
              span(style='font-size:45px') &nbsp; enroll me please &nbsp;
              span.glyphicon.glyphicon-chevron-left
  #gents
    #cole.container.responsive
      .row
        h2.text-center your instructors
        br
        br
      .col-sm-9
        .row.cole
          .col-sm-4
            h3.green H. Cole Wiley
          .col-sm-7.body
            p Cole is a sculptor and computer scientist with experience in software development, web development, sculpture, digital art, <a href='http://hcwiley.com/installation/riverless-walk' class='blue' target='_blank'>interactive installations</a>, computer vision, 3d modeling, rapid prototyping, and a couple other things. His favorite language at the moment is CoffeeScript. He enjoys a double espresso in the morning, and a rye whiskey neat in the evening.
            br
            a.link(href='https://github.com/hcwiley', target='_blank')
              img(src='/images/octocat.svg', title='github')
              img.hover(src='/images/octocat-hover.svg', title='github')
            a.link(href='http://hcwiley.com', target='_blank')
              img(src='/images/page.svg', title='webpage')
              img.hover(src='/images/page-hover.svg', title='webpage')
            a.link(href='mailto:cole@wileycousins.com')
              img(src='/images/email.svg', title='github')
              img.hover(src='/images/email-hover.svg', title='email')
        #michael.row
          .col-sm-7.col-sm-offset-4
            br
            hr.dotted
          .col-sm-10
            br
        .row.mike
          .col-sm-4
            h3.blue Michael Cousins
          .col-sm-7.body
            p Michael is a mechatronics engineer and coffee enthusiast. He got himself a <a href='http://en.wikipedia.org/wiki/MakerBot_Industries#Thing-O-Matic' target="_blank">3D printer</a> in college and never really looked back. He's worked designing and building plastic injection molded parts, circuit boards, and robots. The robots only occasionally try to hurt him; that's why we make him wear safety goggles.
            br
            a.link(href='https://github.com/mcous', target='_blank')
              img(src='/images/octocat.svg', title='github')
              img.hover(src='/images/octocat-hover.svg', title='github')
            a.link(href='http://mcous.in', target='_blank')
              img(src='/images/page.svg', title='webpage')
              img.hover(src='/images/page-hover.svg', title='webpage')
            a.link(href='mailto:michael@wileycousins.com')
              img(src='/images/email.svg', title='github')
              img.hover(src='/images/email-hover.svg', title='email')
      .col-sm-3
        img.gents-img(src='/images/gents.png', title='the gents', width="100%")
  #enroll.col-sm-12.bg-blue.ptb40
    .container
        .col-sm-8.col-sm-offset-2
          .row
            h3.white enroll: <span class='strong' id='class-title'>Intro to programming</span>
          .row
            form#enrollment-form(name='enrollment', action='', method='post', role="form").form-horizontal
              input(type='hidden', name='amount')
              .row
                .col-sm-12
                  .form-group.white
                    label.enrollment-errors
                .col-sm-6
                  .form-group.white
                    label.col-sm-3.text-left name
                    .col-sm-9
                      input.form-control(name='name', type='text', required='true', placeholder='Jenny Doe')
                  .form-group.white
                    label.col-sm-3.text-left email
                    .col-sm-9
                      input.form-control(name='email', type='email', required='true', placeholder='jenny@tommytutone.com')
                  .form-group.white
                    label.col-sm-3.text-left phone
                    .col-sm-9
                      input.form-control(name='phone', type='phone', required='true', placeholder='504-867-5309')
                  .form-group.white
                    label.col-sm-3.text-left class
                    .col-sm-9
                      select#class.text-center.form-control(name='class_name')
                        option(value='intro-programming') Intro to programming
                        option(value='intro-circuits') Intro to circuits
                  .form-group.white
                    label.col-sm-3.text-left classes
                    .col-sm-9
                      select#num-classes.text-center.form-control(name='classes')
                        option(value='1') 1 class
                        option(value='4') 4 classes
                        option(value='12') 12 classes
                  .form-group.white.hidden
                    label.col-sm-3.text-left circuits kit
                    .col-sm-9
                      select#circuits-kit.text-center.form-control(name='kit')
                        option(value='#{everything_kit}') Everything Kit
                        option(value='#{components_kit}') Componets Only Kit
                .col-sm-6
                  .form-group.white
                    label.col-sm-3.text-left address
                    .col-sm-9
                      input.form-control(type='text', data-stripe='address_line1', required='true', name='address', placeholder='123 Foo Bar Ave.')
                  .form-group.white
                    label.col-sm-3.text-left city
                    .col-sm-9
                      input.form-control(type='city', data-stripe='address_city', required='true', name='city', placeholder='New Orleans')
                  .form-group.white
                    label.col-sm-3.text-left state
                    .col-sm-9
                      input.mini.form-control(type='state', required='true', data-stripe='address_state', name='state', placeholder='LA')
                  .form-group.white
                    label.col-sm-3.text-left.mini zip
                    .col-sm-9
                      input.mini.form-control(type='zip', data-stripe='address_zip', required='true', name='zip', placeholder='701##')
                  .form-group.white
                    label.col-sm-3.text-left card #
                    .col-sm-9
                      input.cc.form-control(type='text', required='true',size='20', name='cc-number', x-autocompletetype='cc-number', data-stripe='number', placeholder='####-####-####-####')
                  .form-group.white
                    label.col-sm-3.text-left cvc
                    .col-sm-9
                      input.mini.form-control(type='text', required='true',size='4',name='cc-cvc', x-autocompletetype='cc-csc', data-stripe='cvc', placeholder='###')
                  .form-group.white
                    label.col-sm-3.text-left expiration
                    .visible-sm.col-sm-12
                      .row
                        br
                    .col-sm-12.col-md-9
                      .row
                       .col-sm-6
                         input.inline.form-control(type='text', required='true',size='2', name='cc-exp-month', data-stripe='exp-month', placeholder='mm')
                       label.white.inline.pull-left.text-center(style='width: 0px') / 
                       .col-sm-6
                         input.mini.inline.form-control(type='text', required='true',size='4', name='cc-exp-year', data-stripe='exp-year', placeholder='yyyy')
              .row
                .col-sm-8.col-sm-offset-0
                  br
                  .form-group.white
                    a(href='', data-toggle="modal", data-target="#small-business")
                      h5.col-sm-9.text-right.strong.white
                        span.glyphicon.glyphicon-info-sign.text-left
                        | &nbsp; do you own/work for a small business?
                    .col-sm-3
                      select.text-center.form-control(name='is_small_business')
                        option(value='') Nope
                        option(value='true') Yep!
              .row
                .col-sm-12.text-right
                  hr.dotted.white
                  .col-sm-4.col-sm-offset-4
                    h4.thin.white.text-right total: $<span class='heavy' id='total'></span>
                  .col-sm-3
                    button#charge.btn.white(type='submit') charge my card
          .row
            br
            .col-sm-12
              .col-sm-4.text-left
                a(href='https://stripe.com/us/help/faq#security', target='_blank')
                  img(src='/images/stripe.png', width=150, title='stripe')
              .col-sm-8.text-right(style='margin-top: 5px;')
                i.white.italic.skinny we don't store credit card information on our servers
                br
                br
    br
    script
      var components_price = "#{components_kit}";
