extends basic

block content
    .row
      br
      h1 orders
      br
    .row
      .col-sm-12
        hr.dotted
        br
    .row
      .col-sm-12
        h2 paid users!
        for user in paid_users
          .col-sm-4.col-sm-offset-1.user-order.radius10.collapsed
            .row
              a.white(href='#paid-collapse#{user._id}', data-toggle='collapse')
                h4.white.text-center=user.name.toLowerCase()
            .row
              .col-sm-12.panel-collapse.collapse(id='paid-collapse#{user._id}')
                include user_form.jade
            .row
              .col-sm-10.col-sm-offset-1
                hr.white.dotted
            .row
              .col-sm-12
                a(href='#collapsewcclass-circ#{user._id}', data-toggle='collapse')
                  if user.circ_classes && user.circ_classes.length > 0
                    .row
                      .col-xs-9
                        h4.green.text-left circuit classes: #{user.circ_classes.length}
                      .col-xs-3
                        p.green kit: #{user.circ_classes[0].kit}
            .row
              .col-sm-12
                a(href='#collapsewcclass-circ#{user._id}', data-toggle='collapse')
                  h4.text-left.blue programming classes: #{user.prog_classes ? user.prog_classes.length : 0}
    .row
      .col-sm-12
        hr.dotted
        br
    .row
      .col-sm-12
        h2 just signed up....
        for user in signed_up
          .col-sm-4.col-sm-offset-1.user-order.radius10.collapsed
            a(href='#signup-collapse#{user._id}', data-toggle='collapse')
              h4.white.text-center=user.name.toLowerCase()
            .col-sm-12.panel-collapse.collapse(id='signup-collapse#{user._id}')
              include user_form
