head
  style
    * {
      color: #242323; font-family: "Helvetica Neue", "Helvetica", sans-serif;
    }
    img, div {
      border-radius: 15px;
    }
body
  div#main(style='border: 1px solid #B9C3CC; border-radius: 20px; padding: 15px; width: 400px; height: 400px; position: relative; margin: 10px auto;')
    h2 hey #{user.name.toLowerCase()},
    p just wanted to let you know you successfully enrolled in our <span style='font-weight: 900;'>#{wcclass.name} class</span>. you will receive another email soon with instructions on joining the mailing list and other fun things. you can check your remaining class credits <a style='color: #B7C22C; text-decoration: none;'  href='#{url}/my-classes?email=#{user.email}'>here</a>
    p if you have any questions or concerns shoot us an email at <a style='color: #B7C22C; text-decoration: none;' href='mailto:dev@wileycousins.com'>dev@wileycousins.com</a>
    p look forward to seeing you in class on March #{wcclass.name == 'intro-circuits' ? '1' : ''}6th.
    br
    img(src='http://wileycousins.com/images/logo.png', width='120px', height='120px', style='display: inline-block; clear: none; float:left;')
    img(src='#{wcclass.image}', width='120px', height='120px', style='display: inline-block; clear: none; float:right;')
