div
  h1 shit!
  p error message:
  p=error
  p request:
  for msg,i in req
    if msg && msg.toString().indexOf("function") != 0
      h4=i
      if typeof(msg) == 'object'
        if val && val.toString().indexOf("function") != 0
          for val, key in msg
            ul
              h6=key
              li=val
      else
        p=msg
  br
  br
  a(href='#{url}/orders')
    view orders
