div
  h1 good news everyone!
  p #{user.name} <#{user.email}> just enrolled in a #{wcclasses[0].name} class.
  if wcclasses.length > 1
    h4 actually they enrolled in #{wcclasses.length}
  a(href='#{url}/orders')
    view receipt
